In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import StandardScaler, LabelEncoder, MinMaxScaler
from sklearn.model_selection import GridSearchCV, cross_val_score, train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.metrics import precision_score, recall_score, confusion_matrix, roc_curve, precision_recall_curve, accuracy_score, classification_report, f1_score
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import os
os.chdir(r'C:\Users\My PC\Desktop\Solar PV Fault Research\Seasonal_Dataset')

In [3]:
df = pd.read_csv('Season-4.csv')

In [4]:
df

,Unnamed: 0.1,Unnamed: 0,Date,Time,Inv,AC_Real_Power,AC_Current,DC_Power,DC_Current,Tilt_Irradiation_1,Temp_Ambient_1,Temp_Module_1,Wind_Speed_1,Hor_Irradiation_1,Operation
0,8011,8011,2019-09-01,05:45:00,Inv-1,0.00,0.00,0.00,4.26,0.0,27.1,31.6,0.594,0.2,1
1,8012,8012,2019-09-01,06:00:00,Inv-1,0.00,0.00,0.00,3.00,0.0,27.3,33.4,0.614,0.2,1
2,8013,8013,2019-09-01,06:15:00,Inv-1,0.00,0.00,0.00,0.82,1.9,27.2,33.3,1.005,2.8,1
3,8014,8014,2019-09-01,06:30:00,Inv-1,0.00,0.00,0.00,0.88,17.9,29.0,32.2,0.559,20.2,1
4,8015,8015,2019-09-01,06:45:00,Inv-1,3.87,9.46,4.74,10.71,26.9,28.5,32.6,0.525,30.6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68529,10275,10275,2019-11-12,18:30:00,Inv-16,0.00,0.00,0.00,0.97,0.0,24.6,26.2,0.589,0.1,1
68530,10276,10276,2019-11-12,18:45:00,Inv-16,0.00,0.00,0.00,3.88,0.0,24.0,25.7,0.500,0.1,1
68531,10277,10277,2019-11-12,19:00:00,Inv-16,0.00,0.00,0.00,3.53,0.0,23.5,25.3,0.500,0.1,1
68532,10278,10278,2019-11-12,19:15:00,Inv-16,0.00,0.00,0.00,3.36,0.0,22.8,25.0,0.500,0.2,1
68533,10279,10279,2019-11-12,19:30:00,Inv-16,0.00,0.00,0.00,3.43,0.0,22.9,25.2,0.500,0.2,1

In [5]:
display(df.info(),df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68534 entries, 0 to 68533
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0.1        68534 non-null  int64
 1   Unnamed: 0          68534 non-null  int64
 2   Date                68534 non-null  object
 3   Time                68534 non-null  object
 4   Inv                 68534 non-null  object
 5   AC_Real_Power       68534 non-null  float64
 6   AC_Current          68534 non-null  float64
 7   DC_Power            68534 non-null  float64
 8   DC_Current          68534 non-null  float64
 9   Tilt_Irradiation_1  68534 non-null  float64
 10  Temp_Ambient_1      68534 non-null  float64
 11  Temp_Module_1       68534 non-null  float64
 12  Wind_Speed_1        68534 non-null  float64
 13  Hor_Irradiation_1   68534 non-null  float64
 14  Operation           68534 non-null  int64
dtypes: float64(9), int64(3), object(3)
memory usage: 7.8+ MB

None

,Unnamed: 0.1,Unnamed: 0,Date,Time,Inv,AC_Real_Power,AC_Current,DC_Power,DC_Current,Tilt_Irradiation_1,Temp_Ambient_1,Temp_Module_1,Wind_Speed_1,Hor_Irradiation_1,Operation
0,8011,8011,2019-09-01,05:45:00,Inv-1,0.00,0.00,0.00,4.26,0.0,27.1,31.6,0.594,0.2,1
1,8012,8012,2019-09-01,06:00:00,Inv-1,0.00,0.00,0.00,3.00,0.0,27.3,33.4,0.614,0.2,1
2,8013,8013,2019-09-01,06:15:00,Inv-1,0.00,0.00,0.00,0.82,1.9,27.2,33.3,1.005,2.8,1
3,8014,8014,2019-09-01,06:30:00,Inv-1,0.00,0.00,0.00,0.88,17.9,29.0,32.2,0.559,20.2,1
4,8015,8015,2019-09-01,06:45:00,Inv-1,3.87,9.46,4.74,10.71,26.9,28.5,32.6,0.525,30.6,1

In [6]:
num_rows, num_columns = df.shape

print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

Number of rows: 68534
Number of columns: 15

In [7]:
df = df.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'])

In [8]:
df['DateTime'] = pd.to_datetime(df['Date'] + ' ' + df['Time'])

In [9]:
df.set_index('DateTime', inplace=True)

In [10]:
df.drop(['Date','Time'], axis=1, inplace=True)

In [11]:
start_time = pd.Timestamp("07:00:00")
end_time = pd.Timestamp("18:30:00")

# Filtering the data to retain only the rows within the operational hours
df = df[(df.index.time >= pd.to_datetime('7:00:00').time()) & (df.index.time <= pd.to_datetime('18:30:00').time())]

In [ ]:
df.eahd